@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Baloo Thambi 2', cursive;
}

body {
	overflow-x: hidden;
	overflow-y: visible !important;
	padding-right: 0 !important;
	min-height: 100vh;
}
